{% extends 'base.html' %}
{% load static %}

{% block title %}
Login-page
{% endblock %}


{% block content %}

    <!--Section: Content-->
    <section class="my-5 p-5 text-center" style="background-color:#02121ff1;
        background-size: cover;">

        <form action="{% url 'projects:user_login' %}" method="POST" class="my-5 mx-md-5">
            {% csrf_token %}
            <div class="row d-flex justify-content-center">
                <h2 class="green-text text-center">Sign in to post your Project</h2>
                <div class="col-md-6">
                    <h5 class="red-text">{{error}}</h5>
                    <!-- Username -->
                    <div class="form-outline mb-4">
                        <input type="text" name="username" id="id_username" class="form-control" required
                            placeholder="Username" />
                        <label for="id_username">Username</label>
                    </div>
                    <br>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="id_password" class="form-control" required />
                        <label for="id_password">Password</label>
                    </div>
                    <br>
                    <div class="text-center">
                        <!-- Simple link -->
                        <a class="text-info" href="#!">Forgot password?</a>
                    </div>
                    <hr>
                    <br>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-green btn-block mb-4">Sign in</button>
                </div>
            </div>
        </form>
    </section>
    <!-- section content -->

{% endblock %}