
body{
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
} 

h4{
    font-size: 150%;
    font-style: normal;
    font-weight: bolder;
}

h5{
    color: ivory;
    font-weight: lighter;
}

p{
    color:#1787cc;
}

#navbarSupportedContent a:hover{
    color: #5985a3;
}

/* color of the links before scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
    color: #fff;
}

/* color of the links after scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
    color: #4f4f4f;
}

/* color of the navbar after scroll */
.navbar-scrolled {
    background-color: #fff;
}

/* an optional heigth of the navbar after scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

#contact{
    background-color:  #114362;
}
   
.file-field.medium .file-path-wrapper {
    height: 3rem; 
}

.file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem; 
}


.active-amber-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
  }
  .active-amber-textarea-2.md-form label.active {
    color: #ffa000;
  }
  .active-amber-textarea-2.md-form label {
    color: #ffa000;
  }
  .active-amber-textarea-2.md-form .prefix {
    color: #ffa000;
  }
  .active-amber-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #ffa000;
  }